# Executable binaries
*.out

# Go modules
go.sum
vendor/

# Logs
logs/
*.log


# Generated stubs
client/stub/*.go
server/stub/*.go

# if a file conssit keyword stub under client or server directory, it will be ignored
client/*stub*.go
server/*stub*.go

# .env
.env
